<div>   


    <h1>HOME</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis odit, quidem, perspiciatis esse impedit vel cumque, incidunt enim vitae sit reiciendis eaque temporibus quisquam consectetur. Eligendi fugiat autem accusamus ex.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione commodi non quia atque illum architecto earum quasi voluptate perspiciatis obcaecati eveniet autem, temporibus similique voluptatibus ab praesentium adipisci odio?</p>
</div>